.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #F9FAF8;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;

}

li {display: inline;}